{% extends 'base.html' %}

{% block content %}
<!-- <section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Car Inventory</h1>
            </div>
        </div>
    </div>
</section> -->
<section class="back">
    <div class="container p-5">
        <div>
            <h1 class="hero_title">CAR INVENTORY</h1>
            <h2 class="hero_subtitle">Choose a vehicle for you and your loved ones</h2>
            <button>Sign up</button>
            <!-- <div class="d-flex align-items-center justify-content-center"> -->
                <img src="../../static/images/pngaaa.com-1446755.png" class="img-fluid p-5" alt="">
            <!-- </div> -->
        </div>
    </div>
</section>
{% endblock %}