{% extends 'base.html' %}

{% block content %} 
    <section class="bg-dark text-light text-center shadow mb-20">
        <div class="container p-5 bg-dark">
            <div class="row">
                <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                    <h1 class="col text-center">{{ current_user.email}}'s user profile</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
    <div class="container p-10 overflow-x-hidden">
        <div class="row"><br>
            <h3 class="profile_subtitle overflow-x-hidden py-3">Here are your profile details</h3>
            <ul class="profile_list list-group">
                <li class="list-group-item p-3">Email: {{ current_user.email }}</li>
                <li class="list-group-item p-3">Token: {{ current_user.token }} </li> 
            </ul>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-4"></div>
            <div class="col-3 p-10">
                <!-- <img src="../../static/images/pngaaa.com-1446755.png" alt="car" class="d-flex align-items-center justify-content-center p-50 img-fluid"> -->
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    </section>
{% endblock %}